<div class="pure-g-r">
  <div class="pure-u-1">
    <%= form_for [@section, @message], method: 'post', class: 'pure-form' do |f| %>
      <div class="pure-g-r">
        <div class="pure-u-1-5 content">
          <%= f.text_field :username, :value => cookies[:username], placeholder: 'Name (optional)...' %>
        </div>

        <div class="pure-u-3-5 content">
          <%= f.text_field :content, placeholder: 'Write a message...', autofocus: true %>
        </div>

        <div class="pure-u-1-5 content">
          <%= f.submit 'Submit', class: 'pure-button pure-button-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>