<div class="index inner-container">
  <div class="pure-g-r header">
    <div class="pure-u-1">
      <h1>
        <%= link_to 'chaturly', root_path %> / <%= link_to @section.title, section_path(@section) %> / analytics
      </h1>
    </div>
  </div>

  <div class="pure-g-r chart">
    <div class="pure-u-1">
      <div id="Chart3" style="height: 400px; min-width: 400px"></div>
    </div>
  </div>

  <div class="pure-g-r chart">
    <div class="pure-u-1">
      <div id="Chart2" style="height: 400px; min-width: 400px"></div>
    </div>
  </div>

  <div class="pure-g-r chart">
    <div class="pure-u-1">
      <div id="Chart1" style="height: 400px; min-width: 400px"></div>
    </div>
  </div>
</div>