<div class="pure-g-r">
  <div class="pure-u-1">
    <%= form_tag search_index_path, method: 'get' , class: 'pure-form' do %>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, :class => "flash #{key}") %>
      <% end %>
      
      <%= text_field_tag :url, nil, placeholder: 'Enter a URL...', autofocus: true %>

      <%= submit_tag 'Submit', name: nil, class: 'pure-button' %>
    <% end %>
  </div>
</div>