<div class="index">
  <div class="pure-g-r hero">
    <div class="pure-u-1">
      <div class="pure-g-r">
        <div class="pure-u-1">
          <%= image_tag('logo-100.png') %>

          <h1>Chaturly</h1>
        </div>
      </div>

      <div class="pure-g-r">
        <div class="pure-u-1">
          <h2>Group chat about any URL, with anyone.</h2>
        </div>
      </div>

      <div class="pure-g-r">
        <div class="pure-u-1">
          <a class="bookmarklet" href="javascript:(function()%7Bfunction%20callback()%7B(function(%24)%7Bvar%20jQuery%3D%24%3Bvar%20metas%20%3D%20document.getElementsByTagName('meta')%3Bvar%20tags%20%3D%20%5B%5D%3Bfor%20(i%20%3D%200%3B%20i%20%3C%20metas.length%3B%20i%2B%2B)%20%7Bvar%20tf%20%3D%20false%3Bif%20(metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'og%3Atitle'%7C%7C%20metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'description'%7C%7C%20metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'content-language'%7C%7C%20metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'country'%7C%7C%20metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'og%3Asite_name')%20%7Bif%20(metas%5Bi%5D.getAttribute(%22content%22)!%3Dnull)%20%7Btags.push(%7B%20Key%3A%20metas%5Bi%5D.getAttribute(%22property%22)%2C%20value%3A%20metas%5Bi%5D.getAttribute(%22content%22)%20%7D)%3B%7D%7D%7Dwindow.location%3D'http%3A%2F%2Fwww.chaturly.com%2Fsearch%3Furl%3D'%20%2B%20encodeURIComponent(window.location.href)%20%2B%20'%26Meta%3D'%20%2B%20encodeURIComponent(JSON.stringify(tags))%7D)(jQuery.noConflict(true))%7Dvar%20s%3Ddocument.createElement(%22script%22)%3Bs.src%3D%22https%3A%2F%2Fajax.googleapis.com%2Fajax%2Flibs%2Fjquery%2F1.7.1%2Fjquery.min.js%22%3Bif(s.addEventListener)%7Bs.addEventListener(%22load%22%2Ccallback%2Cfalse)%7Delse%20if(s.readyState)%7Bs.onreadystatechange%3Dcallback%7Ddocument.body.appendChild(s)%3B%7D)()"><img src="http://s23.postimg.org/eaazx3lnr/Chaturly2.png" /></a>
        </div>
      </div>
    </div>
  </div>

  <div class="pure-g-r search">
    <div class="pure-u-1">
      <%= render 'search/form' %>
    </div>
  </div>

  <div class="pure-g-r popular">
    <div class="pure-u-1-3">
      <div class="pure-g-r popular-title">
        <div class="pure-u-1">
          <h2>Featured Pages</h2>
        </div>
      </div>

      <div class="pure-g-r popular-items">
        <div class="pure-u-1">
          <div class="pure-g-r">
            <div class="pure-u-1">
              <%= link_to 'Manchester Startup Weekend', '/c/manchester-startupweekend-org' %>
            </div>
          </div>

          <div class="pure-g-r">
            <div class="pure-u-1">
              <%= link_to 'Growot', '/c/growot-com' %>
            </div>
          </div>

          <div class="pure-g-r">
            <div class="pure-u-1">
              <%= link_to 'Drew Forsyth', '/c/drewforsyth-com' %>
            </div>
          </div>

          <div class="pure-g-r">
            <div class="pure-u-1">
              <%= link_to 'Lightning Slap', '/c/lightningslap-co' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pure-u-1-3">
      <h2>
        <%= link_to 'About', about_index_path %>
      </h2>
    </div>

    <div class="pure-u-1-3">
      <div class="pure-g-r popular-title">
        <div class="pure-u-1">
          <h2>Bookmarklet</h2>
        </div>
      </div>

      <div class="pure-g-r feedback-control">
        <div class="pure-u-1">
          <a class="bookmarklet" href="javascript:(function()%7Bfunction%20callback()%7B(function(%24)%7Bvar%20jQuery%3D%24%3Bvar%20metas%20%3D%20document.getElementsByTagName('meta')%3Bvar%20tags%20%3D%20%5B%5D%3Bfor%20(i%20%3D%200%3B%20i%20%3C%20metas.length%3B%20i%2B%2B)%20%7Bvar%20tf%20%3D%20false%3Bif%20(metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'og%3Atitle'%7C%7C%20metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'description'%7C%7C%20metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'content-language'%7C%7C%20metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'country'%7C%7C%20metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'og%3Asite_name')%20%7Bif%20(metas%5Bi%5D.getAttribute(%22content%22)!%3Dnull)%20%7Btags.push(%7B%20Key%3A%20metas%5Bi%5D.getAttribute(%22property%22)%2C%20value%3A%20metas%5Bi%5D.getAttribute(%22content%22)%20%7D)%3B%7D%7D%7Dwindow.location%3D'http%3A%2F%2Fwww.chaturly.com%2Fsearch%3Furl%3D'%20%2B%20encodeURIComponent(window.location.href)%20%2B%20'%26Meta%3D'%20%2B%20encodeURIComponent(JSON.stringify(tags))%7D)(jQuery.noConflict(true))%7Dvar%20s%3Ddocument.createElement(%22script%22)%3Bs.src%3D%22https%3A%2F%2Fajax.googleapis.com%2Fajax%2Flibs%2Fjquery%2F1.7.1%2Fjquery.min.js%22%3Bif(s.addEventListener)%7Bs.addEventListener(%22load%22%2Ccallback%2Cfalse)%7Delse%20if(s.readyState)%7Bs.onreadystatechange%3Dcallback%7Ddocument.body.appendChild(s)%3B%7D)()">Chaturly</a>      
        </div>
      </div>
    </div>
  </div>
</div>