<div class="show inner-container">
  <div class="pure-g-r header">
    <div class="pure-u-1">
      <a class="section-logo" href="/">
        <%= image_tag('logo.png') %>
      </a>
      
      <div class="header-details">
        <%= link_to 'chaturly', root_path %> / <%= link_to @section.title, @section.url, target: '_blank' %>
      </div>

      <a class="analytics-link" href='<%= section_analytics_path(@section) %>'>
        <img src="<%= image_path('analytics.png') %>" />
      </a>
    </div>
  </div>

  <div class="pure-g-r main">
    <div class="pure-u-1 main-inner">
      <% if @section.nil? || @section.messages.empty? %>
        <div class="empty">
          Be the first to chat!
        </div>
      <% else %>
        <% @section.messages.order('created_at ASC').each do |message| %>
          <div class="pure-g-r message">
            <div class="pure-u-1">
              <div class="avatar">
                <img src="http://www.gravatar.com/avatar/<%= Random.rand(100) %>?s=32&amp;d=identicon&amp;r=PG" alt="">
              </div>

              <div class="body">
                <div class="text">
                  <%= message.content %>
                </div>

                <div class="details">
                  <div class="pure-g-r">
                    <div class="pure-u-1-2">
                      posted by <%= !message.username.blank? ? message.username : 'Anonymous' %>
                    </div>

                    <div class="pure-u-1-2 right">
                      <%= time_ago_in_words(message.created_at) %> ago
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="pure-g-r interface">
    <div class="pure-u-1">
      <%= render 'messages/form' %>
    </div>
  </div>
</div>