<div class="index inner-container">
  <div class="pure-g-r">
    <div class="pure-u-1">
      <h1>
        <%= link_to 'chaturly', root_path %> / about
      </h1>

      <p>
        We're a young start-up with big ambitions! Every website on the internet now has a Chaturly chat site – and it's FREE for users! If you have a website or blog then go to our home page now and enter your homepage URL to view your brand new chat site. If you like it then copy the HTML snippet below and paste it into your website! If you have any difficulty then we'd be pleased to try and help.
      </p>

      <textarea>
        <a class="bookmarklet" href="javascript:(function()%7Bfunction%20callback()%7B(function(%24)%7Bvar%20jQuery%3D%24%3Bvar%20metas%20%3D%20document.getElementsByTagName('meta')%3Bvar%20tags%20%3D%20%5B%5D%3Bfor%20(i%20%3D%200%3B%20i%20%3C%20metas.length%3B%20i%2B%2B)%20%7Bvar%20tf%20%3D%20false%3Bif%20(metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'og%3Atitle'%7C%7C%20metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'description'%7C%7C%20metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'content-language'%7C%7C%20metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'country'%7C%7C%20metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'og%3Asite_name')%20%7Bif%20(metas%5Bi%5D.getAttribute(%22content%22)!%3Dnull)%20%7Btags.push(%7B%20Key%3A%20metas%5Bi%5D.getAttribute(%22property%22)%2C%20value%3A%20metas%5Bi%5D.getAttribute(%22content%22)%20%7D)%3B%7D%7D%7Dwindow.location%3D'http%3A%2F%2Fwww.chaturly.com%2Fsearch%3Furl%3D'%20%2B%20encodeURIComponent(window.location.href)%20%2B%20'%26Meta%3D'%20%2B%20encodeURIComponent(JSON.stringify(tags))%7D)(jQuery.noConflict(true))%7Dvar%20s%3Ddocument.createElement(%22script%22)%3Bs.src%3D%22https%3A%2F%2Fajax.googleapis.com%2Fajax%2Flibs%2Fjquery%2F1.7.1%2Fjquery.min.js%22%3Bif(s.addEventListener)%7Bs.addEventListener(%22load%22%2Ccallback%2Cfalse)%7Delse%20if(s.readyState)%7Bs.onreadystatechange%3Dcallback%7Ddocument.body.appendChild(s)%3B%7D)()"><img src="http://s23.postimg.org/eaazx3lnr/Chaturly2.png" /></a>
      </textarea>
    </div>
  </div>

  <div class="pure-g-r feedback">
    <div class="pure-u-1">
      <a class="bookmarklet" href="javascript:(function()%7Bfunction%20callback()%7B(function(%24)%7Bvar%20jQuery%3D%24%3Bvar%20metas%20%3D%20document.getElementsByTagName('meta')%3Bvar%20tags%20%3D%20%5B%5D%3Bfor%20(i%20%3D%200%3B%20i%20%3C%20metas.length%3B%20i%2B%2B)%20%7Bvar%20tf%20%3D%20false%3Bif%20(metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'og%3Atitle'%7C%7C%20metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'description'%7C%7C%20metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'content-language'%7C%7C%20metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'country'%7C%7C%20metas%5Bi%5D.getAttribute(%22property%22)%20%3D%3D%20'og%3Asite_name')%20%7Bif%20(metas%5Bi%5D.getAttribute(%22content%22)!%3Dnull)%20%7Btags.push(%7B%20Key%3A%20metas%5Bi%5D.getAttribute(%22property%22)%2C%20value%3A%20metas%5Bi%5D.getAttribute(%22content%22)%20%7D)%3B%7D%7D%7Dwindow.location%3D'http%3A%2F%2Fwww.chaturly.com%2Fsearch%3Furl%3D'%20%2B%20encodeURIComponent(window.location.href)%20%2B%20'%26Meta%3D'%20%2B%20encodeURIComponent(JSON.stringify(tags))%7D)(jQuery.noConflict(true))%7Dvar%20s%3Ddocument.createElement(%22script%22)%3Bs.src%3D%22https%3A%2F%2Fajax.googleapis.com%2Fajax%2Flibs%2Fjquery%2F1.7.1%2Fjquery.min.js%22%3Bif(s.addEventListener)%7Bs.addEventListener(%22load%22%2Ccallback%2Cfalse)%7Delse%20if(s.readyState)%7Bs.onreadystatechange%3Dcallback%7Ddocument.body.appendChild(s)%3B%7D)()"><img src="http://s23.postimg.org/eaazx3lnr/Chaturly2.png" /></a>
    </div>
  </div>
  
</div>