.about {
  background: #8058A5;
  color: #fff;

  body {
    background: #8058A5;
  }
  
  .index {
    h1 {
      font-size: 40px;

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          color: #ddd;
        }
      }
    }

    p {
      margin-bottom: 40px;
    }

    textarea {
      width: 100%;
      height: 200px;
    }

    .feedback {
      margin-top: 50px;
      text-align: center;
    }
  }  
}