.analytics {
  .index {
    background: #fff;

    .header {
      color: #fff;
      padding: 10px 20px;
      background: #8058A5;
      position: relative;

      h1 {
        font-size: 20px !important;
        font-weight: normal;
      }

      img {
        position: absolute;
        top: 22px;
        right: 20px;
      }

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }
    }

    .chart {
      margin-bottom: 30px;
      padding: 0 20px;
    }
  }
}