html, body {
  font-size: 12px;
  margin: 0;
  padding: 0;
  background: #FAFAFA;
}

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Add your font in here, whether it's a custom font or a normal font */
    font-family: Helivetica, Arial, sans-serif;
}

.inner-container {
  width: 960px;
  margin: 0 auto;
}

.flash {
  padding: 10px;

  &.error {
    background: #CA3C3C;
    color: #fff;
  }
}