.home {
  background: #8058A5;

  .index {
    text-align: center;
    padding: 0 20px;
    background: #8058A5;  

    .hero {
      margin-top: 100px;

      .logo-container {
        display: inline-block;
      }

      img {
        margin-right: 30px;
        margin-top: 20px;
      }

      h1 {
        
        font-size: 800%;
        color: #fff;
        display: inline;
      }

      h2 {
        font-size: 260%;
        line-height: 150%;
        font-weight: normal;
        color: #fff;
      }
    }

    .search {
      margin-top: 75px;

      .flash {
        width: 75%;
        margin: 0 auto 10px auto;
      }

      input[type=text] {
        padding: 20px !important;
        font-size: 150% !important;
        width: 70%;
      }

      input[type=submit] {
        padding: 20px;
        font-size: 150%;
        background: #FD9F00;
        color: #fff;
      }
    }

    .popular {
      margin-top: 50px;

      h2 {
        color: #fff;
      }

      a {
        font-size: 16px;
        color: #fff;
        text-decoration: none;

        &:hover {
          color: #ddd;
        }
      }

      .popular-title {
        margin-bottom: 20px;
      }

      .feedback-control {
        a {
          background: #fff;
          padding: 5px;
          color: #8058A5;
        }
      }
    }

    .footer {
      margin-top: 50px;

      span {
        margin: 0 20px;
        font-size: 200%;
        color: #ccc;
      }

      a {
        font-size: 200%;
        font-weight: bold;
        color: #0078e7;
        text-decoration: none;

        &:hover {
          background: none;
          color: #0058e7 
        }
      }
    }
  }
}