@media (max-width: 979px) {
  .inner-container {
    width: 100%;
  }

  .sections {
    .main {
      margin: 0 10px !important;

      .main-inner {
        bottom: 230px !important;
      }
    }

    .interface {
      padding: 10px !important;

      .content {
        padding: 0 !important;
      }
    }
  }
}

@media (max-width: 979px) {
  .home {
    .index {
      .hero {
        margin-top: 30px;

        h1 {
          font-size: 400% !important;
        }

        img {
          width: 45px;
        }

        h2 {
          font-size: 200% !important;
        }
      } 

      .search {
        input[type=text] {
          width: 100%;
        }

        input[type=submit] {
          width: 100%;
        }
      }
    }
  }
}