.sections {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;

  body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .show {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    background: #fff;

    .section-search {
      background: #8058A5;

      input[type=text] {
        width: 100%;
      }
    }

    .header {
      background: #8058A5;
      color: #fff;
      padding: 20px;
      font-size: 20px;
      position: relative;

      .section-logo {
        img {
          width: 40px;
          height: 40px;
          position: absolute;
          left: 20px;
          top: 12px;
        }  
      }
      
      .analytics-link {
        position: absolute;
        top: 20px;
        right: 20px;
      }

      .header-details {
        margin-left: 70px;

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            color: #ddd;
          }
        }  
      }
    }

    .main {
      height: 100%;
      position: relative;
      margin: 0 40px;
      padding: 0;

      .empty {
        color: #ccc;
        font-size: 24px;
        text-align: center;
        margin-top: 100px;
      }

      .main-inner {
        position: absolute;
        top: 20px;
        right: 0;
        bottom: 160px;
        left: 0;
        overflow-y: auto;
        // box-sizing: border-box;
      }

      .message {
        margin-bottom: 20px;
        position: relative;

        .avatar {
          position: absolute;
          bottom: 0;
          left: 0;
        }

        .body {
          margin-left : 45px;
          border: 1px solid #ddd;

          .text {
            padding: 10px;
            border-bottom: 1px solid #FAFAFA;
          }

          .details {
            padding: 10px;
            background: #FAFAFA;
            font-size: 10px;

            .right {
              text-align: right;
            }
          }
        }
      }
    }

    .interface {
      border-top: 1px solid #ddd;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;

      input {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
      }

      input[type=text] {
        padding: 10px;
        outline: none;
      }

      .content {
        box-sizing: border-box;
        padding-left: 10px;
      }
    }
  }
}